@import "tailwindcss";

@theme {
  --spacing-spacing: var(--lxy-spacing);
  --spacing-spacing-lg: var(--lxy-spacing-lg);
  --spacing-spacing-2lg: calc(2 * var(--lxy-spacing-lg));
  --spacing-spacing-3lg: calc(3 * var(--lxy-spacing-lg));

  --space-spacing: var(--lxy-spacing);
  --space-spacing-lg: var(--lxy-spacing-lg);

  --width-single: var(--single);
  --width-single-small: var(--single-small);
  --width-two-thirds: var(--two-thirds);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

ul {
  li:before {
    content: "- ";
  }
}

* {
  box-sizing: border-box;
}

:root {
  --lxy-spacing: 1rem;
  --lxy-spacing-lg: 2rem;
  --sidebar: 0rem;
  --single: calc(100vw - var(--sidebar) - 2 * var(--lxy-spacing-lg));
  --single-small: calc(100vw - var(--sidebar) - 4 * var(--lxy-spacing-lg));
  --half: calc(
    (100vw - var(--sidebar) - 2 * var(--lxy-spacing-lg) - var(--lxy-spacing)) /
      2
  );
  --two-thirds: calc(
    (100vw - var(--sidebar) - 2 * var(--lxy-spacing-lg) - var(--lxy-spacing)) *
      2 / 3
  );
}

@media (min-width: 1024px) {
  :root {
    --lxy-spacing: 1.5rem;
    --lxy-spacing-lg: 2rem;
    --sidebar: 16rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --lxy-spacing: 3rem;
    --lxy-spacing-lg: 4rem;
    --sidebar: 21rem;
  }
}

.title {
  @apply text-3xl font-semibold;
}

.subtitle {
  @apply text-lg font-semibold xl:text-xl;
}

.subsubtitle {
  @apply text-lg xl:text-xl;
}

.paragraph {
  @apply text-base font-extralight xl:text-lg;
}

/* 1 */
.single {
  width: var(--single);
}

/* 1 | 1 */
.half {
  width: var(--half);
}

/* 2 | 1 */
.two-thirds {
  width: var(--two-thirds);
}

/* About page */
.about_darken {
  filter: brightness(0.7);
}

.about_textOverlay {
  @apply absolute top-0 left-0 flex h-full w-full items-center justify-center;

  & div {
    @apply text-lg font-bold text-white;
  }
}

.about_rounded {
  @apply overflow-hidden rounded-lg;
}

.about_overlayWindow {
  /* Position */
  @apply bottom-spacing-lg left-spacing-lg right-spacing-lg top-spacing-lg absolute z-20;

  /* Layout */
  @apply flex flex-row items-center;
}

.about_overlayInner {
  /* Position */
  @apply relative w-full;
  @apply lg:h-full;

  /* Styling */
  @apply rounded-xl bg-white shadow-lg;

  /* Display */
  @apply overflow-hidden;
}

/* Carousel */
.carousel_angle {
  /* Position */
  @apply absolute z-10 -translate-y-1/2;
  @apply md:relative md:translate-y-0;

  /* Styling */
  @apply opacity-60 transition-opacity duration-150;
  @apply md:opacity-100;
}

/* Horizontal Gallery */
.horizontalGallery_container {
  /* Sizing */
  @apply w-single;

  /* Layout */
  @apply grid auto-cols-fr grid-flow-row auto-rows-fr;
  @apply md:grid-flow-col;
}

.horizontalGallery_itemContainer {
  /* Sizing */
  @apply w-full;

  /* Layout */
  @apply flex flex-row items-end space-x-4;
  @apply md:flex-col md:items-center md:space-x-0;
}
