version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: react
      - dependency-name: react-dom
      - dependency-name: payload
      - dependency-name: "@payloadcms/*"
      - dependency-name: next
      - dependency-name: "@next/*"
      - dependency-name: eslint-config-next
    groups:
      devDependencies:
        dependency-type: "development"
        exclude-patterns:
          - tailwindcss
          - "@tailwindcss/postcss"
          - postcss
          - eslint-config-next
          - "@next/*"
      tailwind:
        patterns:
          - tailwindcss
          - "@tailwindcss/postcss"
          - postcss
      lottie:
        patterns:
          - "@lottiefiles/*"
      lowRisk:
        patterns:
          - "@chakra-ui/react"
          - "@tabler/icons-react"
          - "@vercel/speed-insights"
          - server-only
          - sharp
          - usehooks-ts
