@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing: 1.5rem;
  --spacing-lg: 2rem;
  --sidebar: 0rem;
}

@media (min-width: 1024px) {
  :root {
    --spacing: 1.5rem;
    --spacing-lg: 2rem;
    --sidebar: 16rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing: 4rem;
    --spacing-lg: 6rem;
    --sidebar: 21rem;
    @apply text-lg;
  }
}

.title {
  @apply text-xl font-semibold xl:text-2xl;
}

.subtitle {
  @apply text-base font-semibold xl:text-lg;
}

.paragraph {
  @apply text-sm font-extralight xl:text-base;
}

/* 1 */
.single {
  width: calc(100vw - var(--sidebar) - 2 * var(--spacing-lg));
}

/* 1 | 1 */
.half {
  width: calc(
    (100vw - var(--sidebar) - 2 * var(--spacing-lg) - var(--spacing)) / 2
  );
}

/* 2 | 1 */
.two-thirds {
  width: calc(
    (100vw - var(--sidebar) - 2 * var(--spacing-lg) - var(--spacing)) * 2 / 3
  );
}

/* 1 | 2 */
.one-third {
  width: calc((100vw - 21rem - 2 * var(--spacing-lg) - var(--spacing)) / 3);
}
